# DEDS-week 7, Hoorcollege 2 -Verwisselde waarden

## Libraries importeren

In [1]:
import pandas as pd
import pyodbc

C:\Users\jelle\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

## DB-connecties maken

In [2]:
sales_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/jelle/OneDrive - De Haagse Hogeschool/GO gemoderniseerd/go_sales_vervuild.accdb;')

## Dataframe aanmaken vanuit SELECT op databasetabel

In [3]:
product = pd.read_sql("SELECT * FROM product", sales_conn)
product = product.dropna()
product

<ipython-input-3-346ed4155975>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product = pd.read_sql("SELECT * FROM product", sales_conn)

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,.28,P53ME2CA8.jpg,EN,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
4,57,10-1-2021,9,40,.5,P57ME2TL9.jpg,EN,Granite Ice,A general purpose mountaineering axe for snow ...
5,58,10-1-2021,9,57.13,.28,P58ME2TL9.jpg,EN,Granite Hammer,A solid hammer made with a solid hard wood han...
6,59,10-1-2021,9,46.15,.23,EN,P59ME2TL9.jpg,Granite Shovel,Shovel has removable aluminum handle and heat ...
7,60,10-1-2021,9,10,.5,P60ME2TL9.jpg,EN,Granite Grip,All-purpose stainless steel pliers. Sheath inc...
...,...,...,...,...,...,...,...,...,...
108,106,5-12-2019,19,536.09,.43,P106GE5WD19.jpg,EN,Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
109,107,13-1-2020,19,509.07,.55,P105GE5WD19.jpg,EN,Lady Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
111,109,10-12-2019,20,35,.43,P109GE5PT20.jpg,EN,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,Blue Steel Putter,20,60,.5,P110GE5PT20.jpg,EN,10-12-2019,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.8,P111GE5PT20.jpg,.55,EN,Blue Steel Max Putter,Putter head is composed from a single piece of...

## Verwisselde waarden opsporen en afhandelen

Zoals jullie ongetwijfeld in de vorige weken al hebben gezien laat in de tabel product, en dergelijke databasetabellen, de datakwaliteit, los van de missende waarden, te wensen over. Er zijn namelijk rijen waarin tussen bepaalde kolommen de waarden namelijk verwisseld zijn. Waar we in het vorige Notebook nog gebruik konden maken van een handige ProfileReport, waarin alle missende waarden werden opgespoord, moeten we hier zelf handmatig code opschrijven voor het speurwerk naar kwaliteitsgebreken.

Let op! In dit Notebook zijn, zeer oneerbiedig, alle rijen uit de dataset met missende waarden erin weggehaald, omwille van de snelheid! In het vorige hoorcollege hebben jullie geleerd hoe jullie hiermee omgaan m.b.t. categorische data en in het volgende hoorcollege leren jullie dit voor de continue data.

## De eerste Sherlock-Holmesstap: .dtypes toepassen

We achterhalen eerst het datatype per kolom om te kijken of deze logisch is. We weten al dat we dat kunnen doen met .dtypes.

In [4]:
product.dtypes

PRODUCT_NUMBER       object
INTRODUCTION_DATE    object
PRODUCT_TYPE_CODE    object
PRODUCTION_COST      object
MARGIN               object
PRODUCT_IMAGE        object
LANGUAGE             object
PRODUCT_NAME         object
DESCRIPTION          object
dtype: object

We weten ook al dat 'object' het Pythonequivalent is voor strings. In dit geval zien de datatypen er over het algemeen goed uit, maar... bij een aantal kolommen hadden we getallen verwacht. Zullen we als eerst twee lijsten maken, waarvan een met de namen van alle numerieke, en de ander met de namen van alle niet-numerieke kolommen?

In [5]:
numeric_columns = ['PRODUCT_NUMBER', 'PRODUCT_TYPE_CODE', 'PRODUCTION_COST', 'MARGIN']
non_numeric_columns = list(product.drop(numeric_columns, axis = 1).columns)
non_numeric_columns

['INTRODUCTION_DATE',
 'PRODUCT_IMAGE',
 'LANGUAGE',
 'PRODUCT_NAME',
 'DESCRIPTION']

Zullen we eens proberen, volgens Pythoncode die we al kennen, om de derde numerieke kolom, PRODUCTION_COST, om te zetten naar een float? Uncomment de volgende regel door de hashtag (#) weg te halen!

In [6]:
# product['PRODUCTION_COST'] = product['PRODUCTION_COST'].astype(float)

Tja... wat moeten we hier nou van denken? Python probeert een hele string ('Acrylex lenses (...)') om te zetten naar een float, en dat is technisch niet mogelijk. Met andere woorden: we weten nu dat in de kolom PRODUCTION_COST minstens 1 foutieve string-/objectwaarde staat. Daarmee is voor deze kolom de eerste stap in het speurwerk gezet.

## Indexen van foutieve rijen achterhalen

Allemaal hartstikke leuk, maar... wat is nou de volgende stap? We zullen moeten achterhalen wat de indexen zijn van de rijen waartussen de waarden van twee kolommen 'geswapt' dienen te worden. Laten we daarvoor eerst een dictionary maken. Deze lijkt erg op een lijst, die we al eerder hebben gezien, maar nu worden waarden niet opgehaald met een index, maar met een bepaalde 'key'. Ter illustratie even het onderstaande voorbeeld:

In [7]:
my_first_dict = {'Michael' : 41, 'Jim' : 24, 'Pam' : 23}
print(my_first_dict['Michael'])

41

We hebben onze eerste dictionary gemaakt, bestaande uit drie key-value-pairs. De paren worden gescheiden door een komma, daarbinnen worden de key en de value gescheiden door een dubbele punt. Waar we voorheen tussen de blokhaken altijd indexen neer hebben gezet om waarden op te halen, kunnen we dat nu doen met de key die eraan is meegegeven. In dit geval halen we de leeftijd van Michael (van The Office, herkennen we de namen? ;-) ) op door de waarde aan te roepen die bij de key 'Michael' hoort.

Lijsten en dictionaries zijn allebei datatypen in Python waarin je meerdere waarden kan opslaan. De kracht hiervan ligt in hun combineerbaarheid, zoals te zien in onderstaande code.

In [8]:
wrong_index_dict = dict()

for index in product.index:
    wrong_index_dict[index] = []

wrong_index_dict

{0: [],
 4: [],
 5: [],
 6: [],
 7: [],
 9: [],
 10: [],
 11: [],
 12: [],
 15: [],
 18: [],
 19: [],
 20: [],
 21: [],
 22: [],
 23: [],
 24: [],
 26: [],
 27: [],
 28: [],
 32: [],
 33: [],
 34: [],
 37: [],
 38: [],
 39: [],
 40: [],
 41: [],
 42: [],
 43: [],
 44: [],
 45: [],
 46: [],
 48: [],
 49: [],
 50: [],
 51: [],
 52: [],
 53: [],
 54: [],
 56: [],
 57: [],
 58: [],
 59: [],
 60: [],
 61: [],
 63: [],
 64: [],
 66: [],
 68: [],
 69: [],
 70: [],
 71: [],
 73: [],
 74: [],
 75: [],
 76: [],
 77: [],
 78: [],
 80: [],
 81: [],
 82: [],
 83: [],
 84: [],
 85: [],
 86: [],
 87: [],
 92: [],
 93: [],
 94: [],
 95: [],
 96: [],
 97: [],
 98: [],
 100: [],
 102: [],
 103: [],
 105: [],
 106: [],
 108: [],
 109: [],
 111: [],
 112: [],
 113: []}

De producttabel wordt doorlopen en van elke index wordt een key gemaakt. Elke value wordt geÃ¯nitialiseerd op een nu nog lege lijst ([]). Dit is een handige structuur om per rij, waartussen elke index per definitie verschilt, de 2 kolomnamen bij te houden waartussen waarden geswapt moeten worden.

In [9]:
for numeric_column in numeric_columns:
    #Stringwaarden vinden in numerieke kolommen:
    wrong_rows = product.loc[pd.to_numeric(product[numeric_column], errors = 'coerce').isnull(), [numeric_column]]
    
    for index, row in wrong_rows.iterrows():
        wrong_index_dict[index].append(numeric_column)
    
for non_numeric_column in non_numeric_columns:
    #Numerieke waarden vinden in stringkolommen
    wrong_rows = product.loc[~pd.to_numeric(product[non_numeric_column], errors = 'coerce').isnull(), [non_numeric_column]]
    
    for index, row in wrong_rows.iterrows():
        wrong_index_dict[index].append(non_numeric_column)
    
wrong_index_dict

{0: [],
 4: [],
 5: [],
 6: [],
 7: [],
 9: [],
 10: [],
 11: [],
 12: [],
 15: [],
 18: ['PRODUCTION_COST', 'DESCRIPTION'],
 19: [],
 20: [],
 21: [],
 22: [],
 23: [],
 24: [],
 26: [],
 27: [],
 28: [],
 32: [],
 33: [],
 34: [],
 37: [],
 38: [],
 39: [],
 40: [],
 41: [],
 42: [],
 43: [],
 44: ['PRODUCTION_COST', 'PRODUCT_IMAGE'],
 45: [],
 46: [],
 48: [],
 49: ['PRODUCTION_COST', 'DESCRIPTION'],
 50: [],
 51: [],
 52: [],
 53: [],
 54: [],
 56: [],
 57: ['MARGIN', 'PRODUCT_NAME'],
 58: [],
 59: [],
 60: [],
 61: [],
 63: [],
 64: [],
 66: [],
 68: ['MARGIN', 'INTRODUCTION_DATE'],
 69: ['PRODUCTION_COST', 'DESCRIPTION'],
 70: [],
 71: [],
 73: [],
 74: [],
 75: [],
 76: [],
 77: [],
 78: ['PRODUCTION_COST', 'DESCRIPTION'],
 80: [],
 81: [],
 82: [],
 83: [],
 84: ['MARGIN', 'INTRODUCTION_DATE'],
 85: ['PRODUCTION_COST', 'PRODUCT_NAME'],
 86: [],
 87: [],
 92: [],
 93: [],
 94: [],
 95: [],
 96: [],
 97: [],
 98: [],
 100: [],
 102: [],
 103: [],
 105: [],
 106: [],
 108: [],
 109: [],
 111: [],
 112: [],
 113: ['MARGIN', 'PRODUCT_IMAGE']}

Pfoe... lots to digest (and to write ;-)). In stukjes...

Allereerst lopen we alle numerieke kolommen door waarvan we weten dat daar niet-numerieke waarden in voorkomen. Eerder in dit Notebook hebben we de numerieke kolomnamen  opgeslagen in numeric_columns. Per kolomnaam zijn de volgende operaties samengevat in drie coderegels:
- Met pd.to_numeric() wordt bij elke waarde geprobeerd deze naar een getal om te zetten. Als dat niet lukt, zorgt "errors = 'coerce' ervoor dat deze waarden vervangen worden door NULL.
- Vervolgens wordt met .isnull() bepaald of de betreffende kolom inmiddels leeggemaakte waarden bevat. Als dat zo is wordt de betreffende rij aan 'wrong_rows' toegevoegd.
- Ten slotte wordt met behulp van de loop elke kolom uit 'wrong_rows' toegevoegd aan de betreffende index in de dictionary.

Vervolgens draaien we het om: we lopen nu niet-numerieke kolommen langs om te kijken of zij stiekem hier en daar toch een getal bevatten. Ook deze worden, op dezelfde manier als hierboven beschreven, toegewezen aan de juiste plek in de dictionary.

Helaas is de uitkomst van bovenstaande code een supergrote dictionary, waarvan het overgrote deel de juiste waarden in de juiste kolommen heeft staan (te herkennen aan de lege lijst: []). Daarom onderzoekt de onderstaande code welke indexen wÃ©l een gevulde lijst hebben en past hij op de betreffende index in de producttabel meteen de 'swap' toe.

In [10]:
for key_value_pair in list(wrong_index_dict.items()):
    
    if(key_value_pair[1]): #Als er minstens 1 item gevuld is op de index...
        index = key_value_pair[0]
        kolom1 = key_value_pair[1][0]
        kolom2 = key_value_pair[1][1]
        
        product.loc[product.index == index, [kolom1, kolom2]] = product.loc[product.index == index, [kolom2, kolom1]].values

product

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,.28,P53ME2CA8.jpg,EN,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
4,57,10-1-2021,9,40,.5,P57ME2TL9.jpg,EN,Granite Ice,A general purpose mountaineering axe for snow ...
5,58,10-1-2021,9,57.13,.28,P58ME2TL9.jpg,EN,Granite Hammer,A solid hammer made with a solid hard wood han...
6,59,10-1-2021,9,46.15,.23,EN,P59ME2TL9.jpg,Granite Shovel,Shovel has removable aluminum handle and heat ...
7,60,10-1-2021,9,10,.5,P60ME2TL9.jpg,EN,Granite Grip,All-purpose stainless steel pliers. Sheath inc...
...,...,...,...,...,...,...,...,...,...
108,106,5-12-2019,19,536.09,.43,P106GE5WD19.jpg,EN,Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
109,107,13-1-2020,19,509.07,.55,P105GE5WD19.jpg,EN,Lady Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
111,109,10-12-2019,20,35,.43,P109GE5PT20.jpg,EN,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,Blue Steel Putter,20,60,.5,P110GE5PT20.jpg,EN,10-12-2019,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.8,.55,P111GE5PT20.jpg,EN,Blue Steel Max Putter,Putter head is composed from a single piece of...

Als kers op de taart kunnen we controleren of een dataconversie nu wel goed gaat.

In [13]:
product['PRODUCTION_COST'] = product['PRODUCTION_COST'].astype(float)
product.dtypes

PRODUCT_NUMBER        object
INTRODUCTION_DATE     object
PRODUCT_TYPE_CODE     object
PRODUCTION_COST      float64
MARGIN                object
PRODUCT_IMAGE         object
LANGUAGE              object
PRODUCT_NAME          object
DESCRIPTION           object
dtype: object

We zien dat de operatie helemaal is geslaagd. Er staat nu 'float64' achter PRODUCTION_COST, ten teken dat we de 'swap-operatie' m.b.t. deze kolom helemaal goed hebben gedaan.