In [1]:
import pandas as pd
import pyodbc
from ydata_profiling import ProfileReport

In [2]:
sales_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Tim/Desktop/GO-databases DEDS-week 4 & 5/go_sales.accdb;')
staff_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Tim/Desktop/GO-databases DEDS-week 4 & 5/go_staff.accdb;')
crm_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Tim/Desktop/GO-databases DEDS-week 4 & 5/go_crm.accdb;')

In [3]:
product = pd.read_sql("SELECT * FROM product", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
types = pd.read_sql("SELECT * FROM product_type", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
orders = pd.read_sql("SELECT * FROM order_header", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
joined = pd.merge(product, types, on = 'PRODUCT_TYPE_CODE', how = 'inner')

In [7]:
product_ster = joined.drop(['LANGUAGE','PRODUCT_IMAGE','INTRODUCTION_DATE','PRODUCTION_COST','MARGIN','DESCRIPTION','PRODUCT_LINE_CODE'], axis = 1)

In [8]:
verkoper = orders.drop(['RETAILER_CONTACT_CODE', 'SALES_STAFF_CODE', 'SALES_BRANCH_CODE', 'ORDER_DATE', 'ORDER_METHOD_CODE'], axis = 1)

In [9]:
reden = pd.read_sql("SELECT * FROM return_reason", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
datum = orders.drop(['ORDER_NUMBER', 'RETAILER_NAME', 'RETAILER_SITE_CODE', 'RETAILER_CONTACT_CODE', 'SALES_STAFF_CODE', 'SALES_BRANCH_CODE', 'ORDER_METHOD_CODE'], axis = 1)

In [11]:
datum["YEAR"] = datum["ORDER_DATE"].dt.year
datum["MONTH"] = datum["ORDER_DATE"].dt.month
datum["DAY"] = datum["ORDER_DATE"].dt.day

In [12]:
order_details = pd.read_sql("SELECT * FROM order_details", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [13]:
returned_item = pd.read_sql("SELECT * FROM returned_item", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
feit = pd.merge(returned_item, order_details, on = 'ORDER_DETAIL_CODE', how = 'inner')

In [15]:
feiten = pd.merge(feit, orders, on = 'ORDER_NUMBER', how = 'inner')

In [16]:
returned_producten = feiten.drop(['RETURN_DATE', 'QUANTITY', 'RETAILER_NAME', 'RETAILER_SITE_CODE', 'RETAILER_CONTACT_CODE', 'SALES_STAFF_CODE', 'SALES_BRANCH_CODE', 'ORDER_METHOD_CODE'], axis = 1)

In [17]:
product_ster

,PRODUCT_NUMBER,PRODUCT_TYPE_CODE,PRODUCT_NAME,PRODUCT_TYPE_EN
0,53,8,Firefly Climbing Lamp,Climbing Accessories
1,54,8,Firefly Charger,Climbing Accessories
2,55,8,Firefly Rechargeable Battery,Climbing Accessories
3,56,8,Granite Chalk Bag,Climbing Accessories
4,50,8,Granite Carabiner,Climbing Accessories
...,...,...,...,...
104,107,19,Lady Hailstorm Titanium Woods Set,Woods
105,108,19,Lady Hailstorm Steel Woods Set,Woods
106,109,20,Course Pro Putter,Putters
107,110,20,10-12-2019,Putters
108,111,20,Blue Steel Max Putter,Putters

In [18]:
product_ster['PRODUCT_NUMBER'].isna().sum()

0

In [19]:
product_ster['PRODUCT_TYPE_CODE'].isna().sum()

0

In [20]:
product_ster['PRODUCT_NAME'].isna().sum()

5

In [21]:
product_ster['PRODUCT_TYPE_EN'].isna().sum()

8

In [22]:
product_ster['PRODUCT_NAME'] = product_ster['PRODUCT_NAME'].fillna('onbekend')
product_ster['PRODUCT_NAME'].isna().sum()

0

In [23]:
product_ster.loc[product_ster['PRODUCT_TYPE_EN'].isna(), :]

   PRODUCT_NUMBER PRODUCT_TYPE_CODE             PRODUCT_NAME PRODUCT_TYPE_EN
81             42                 6            Husky Rope 50            None
82             43                 6            Husky Rope 60            None
83             44                 6           Husky Rope 100            None
84             45                 6           Husky Rope 200            None
85             46                 7  Granite Climbing Helmet            None
86             47                 7            Husky Harness            None
87             48                 7                       55            None
88             49                 7    Granite Signal Mirror            None

In [24]:
subset_product_name_contains_husky = product_ster.loc[(~product_ster['PRODUCT_NAME'].isna()) & (product_ster['PRODUCT_NAME'].str.contains('Husky')), :]
subset_product_name_contains_husky

   PRODUCT_NUMBER PRODUCT_TYPE_CODE    PRODUCT_NAME PRODUCT_TYPE_EN
81             42                 6   Husky Rope 50            None
82             43                 6   Husky Rope 60            None
83             44                 6  Husky Rope 100            None
84             45                 6  Husky Rope 200            None
86             47                 7   Husky Harness            None

In [25]:
types

   PRODUCT_TYPE_CODE PRODUCT_LINE_CODE       PRODUCT_TYPE_EN
0                  1                 1          Cooking Gear
1                  2              None                 Tents
2                  3                 1         Sleeping Bags
3                  4                 1                 Packs
4                  5                 1              Lanterns
5                  6                 2                  None
6                  7                 2                  None
7                  8                 2  Climbing Accessories
8                  9              None                 Tools
9                 10                 3               Watches
10                11              None               Eyewear
11                12                 3                Knives
12                13                 3            Binoculars
13                14                 3            Navigation
14                15                 4     Insect Repellents
15                16                 4             Sunscreen
16                17                 4             First Aid
17                18                 5                 Irons
18                19              None                 Woods
19                20                 5               Putters
20                21                 5      Golf Accessories

In [26]:
product_ster['PRODUCT_TYPE_EN'] = product_ster['PRODUCT_TYPE_EN'].fillna('onbekend')
product_ster['PRODUCT_TYPE_EN'].isna().sum()

0

In [27]:
reden

  RETURN_REASON_CODE   RETURN_DESCRIPTION_EN
0                  1       Defective product
1                  2      Incomplete product
2                  3   Wrong product ordered
3                  4   Wrong product shipped
4                  5  Unsatisfactory product

In [28]:
datum

     ORDER_DATE    YEAR  MONTH   DAY
0    2022-11-11  2022.0   11.0  11.0
1    2022-11-19  2022.0   11.0  19.0
2    2022-11-11  2022.0   11.0  11.0
3    2022-11-15  2022.0   11.0  15.0
4    2022-12-14  2022.0   12.0  14.0
...         ...     ...    ...   ...
5355 2021-10-17  2021.0   10.0  17.0
5356 2022-02-16  2022.0    2.0  16.0
5357 2022-10-12  2022.0   10.0  12.0
5358 2022-01-20  2022.0    1.0  20.0
5359 2022-10-07  2022.0   10.0   7.0

[5360 rows x 4 columns]

In [29]:
datum['ORDER_DATE'].isna().sum()

186

In [30]:
datum['ORDER_DATE'] = datum['ORDER_DATE'].fillna('onbekend')
datum['ORDER_DATE'].isna().sum()

0

In [31]:
verkoper

     ORDER_NUMBER                RETAILER_NAME RETAILER_SITE_CODE
0            1831             Sport & Freizeit                 36
1            1832             Sport & Freizeit                 38
2            1833             Sport & Freizeit                 40
3            1834                Die Zeltstadt                 47
4            1835                Die Zeltstadt                 48
...           ...                          ...                ...
5355         9238  Fu Chin Sport Equipment Co.                362
5356         9239      Chen Yu Enterprise Co.,                365
5357         9240      Chen Yu Enterprise Co.,                365
5358         9241      Chen Yu Enterprise Co.,                363
5359         9242      Chen Yu Enterprise Co.,                363

[5360 rows x 3 columns]

In [32]:
verkoper['ORDER_NUMBER'].isna().sum()

0

In [33]:
verkoper['RETAILER_NAME'].isna().sum()

167

In [34]:
verkoper['RETAILER_SITE_CODE'].isna().sum()

198

In [35]:
modus_retailer = verkoper['RETAILER_NAME'].mode()[0]
modus_retailer

'Falcon Outfitters'

In [36]:
verkoper['RETAILER_NAME'] = verkoper['RETAILER_NAME'].fillna(modus_retailer)
verkoper['RETAILER_NAME'].isna().sum()

0

In [37]:
verkoper.loc[verkoper['RETAILER_SITE_CODE'].isna(), :]

     ORDER_NUMBER            RETAILER_NAME RETAILER_SITE_CODE
13           1848         Sport & Freizeit               None
64           1902                  Extrem!               None
67           1905       Der Fitness-Doktor               None
159          2006         Sport & Freizeit               None
196          2044     Die Fitness-Experten               None
...           ...                      ...                ...
5211         9077    Jensen Mountaineering               None
5257         9132              Grand choix               None
5276         9151    Jensen Mountaineering               None
5336         9219  Chen Yu Enterprise Co.,               None
5348         9231  Chen Yu Enterprise Co.,               None

[198 rows x 3 columns]

In [38]:
subset = verkoper.loc[(~verkoper['RETAILER_NAME'].isna()) & (verkoper['RETAILER_NAME'].str.contains('Sport')), :]
subset

     ORDER_NUMBER                RETAILER_NAME RETAILER_SITE_CODE
0            1831             Sport & Freizeit                 36
1            1832             Sport & Freizeit                 38
2            1833             Sport & Freizeit                 40
12           1847             Sport & Freizeit                 36
13           1848             Sport & Freizeit               None
...           ...                          ...                ...
5296         9171          Beck's Sports Store                405
5344         9227  Fu Chin Sport Equipment Co.                362
5345         9228  Fu Chin Sport Equipment Co.                362
5354         9237  Fu Chin Sport Equipment Co.                362
5355         9238  Fu Chin Sport Equipment Co.                362

[1069 rows x 3 columns]

In [39]:
verkoper['RETAILER_SITE_CODE'] = verkoper['RETAILER_SITE_CODE'].fillna('onbekend')
verkoper['RETAILER_SITE_CODE'].isna().sum()

0

In [40]:
returned_producten

,RETURN_CODE,ORDER_DETAIL_CODE,RETURN_REASON_CODE,RETURN_QUANTITY,ORDER_NUMBER,PRODUCT_NUMBER,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,ORDER_DATE
0,1491,84858,None,8,7446,6,87.63,123.56,123.56,2021-07-23
1,1492,84440,2,2,7316,8,151.77,151.77,88.23,2020-10-18
2,1493,84867,4,24-6-2021 09:23:14,7359,8,78.26,134.63,134.63,2021-06-12
3,21-7-2021 00:00:09,84873,3,20,7448,8,None,134.63,126.16,2021-07-16
4,1496,84488,None,2,7438,17,64.36,90.09,90.09,2020-08-23
...,...,...,...,...,...,...,...,...,...,...
637,2459,114921,1,None,7625,33,18.2,27.3,None,2021-05-17
638,2465,114972,3,6-6-2021 09:22:12,7625,66,69.68,92.91,46.45,2021-05-17
639,2464,114967,1,12,7623,63,30.63,45.97,38.31,2021-10-14
640,2466,114983,5,66,7622,71,60.5,90.76,75.63,2021-09-26
641,2467,115215,4,64,7630,73,8.56,11.98,10.27,2022-03-13

In [41]:
returned_producten['RETURN_CODE'].isna().sum()

0

In [42]:
returned_producten['ORDER_DETAIL_CODE'].isna().sum()

0

In [43]:
returned_producten['RETURN_REASON_CODE'].isna().sum()

26

In [44]:
returned_producten['RETURN_QUANTITY'].isna().sum()

38

In [45]:
returned_producten['ORDER_NUMBER'].isna().sum()

0

In [46]:
returned_producten['PRODUCT_NUMBER'].isna().sum()

27

In [47]:
returned_producten['UNIT_COST'].isna().sum()

30

In [48]:
returned_producten['UNIT_PRICE'].isna().sum()

25

In [49]:
returned_producten['UNIT_SALE_PRICE'].isna().sum()

23

In [50]:
returned_producten['ORDER_DATE'].isna().sum()

24

In [51]:
returned_producten['RETURN_QUANTITY'] = returned_producten['RETURN_QUANTITY'].fillna('onbekend')
returned_producten['RETURN_QUANTITY'].isna().sum()

0

In [52]:
returned_producten['UNIT_COST'] = returned_producten['UNIT_COST'].fillna('onbekend')
returned_producten['UNIT_COST'].isna().sum()

0

In [53]:
returned_producten['UNIT_PRICE'] = returned_producten['UNIT_PRICE'].fillna('onbekend')
returned_producten['UNIT_PRICE'].isna().sum()

0

In [54]:
returned_producten['UNIT_SALE_PRICE'] = returned_producten['UNIT_SALE_PRICE'].fillna('onbekend')
returned_producten['UNIT_SALE_PRICE'].isna().sum()

0

In [55]:
returned_producten['ORDER_DATE'] = returned_producten['ORDER_DATE'].fillna('onbekend')
returned_producten['ORDER_DATE'].isna().sum()

0

In [56]:
returned_producten.loc[returned_producten['RETURN_REASON_CODE'].isna(), :]

,RETURN_CODE,ORDER_DETAIL_CODE,RETURN_REASON_CODE,RETURN_QUANTITY,ORDER_NUMBER,PRODUCT_NUMBER,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,ORDER_DATE
0,1491,84858,None,8,7446,6,87.63,123.56,123.56,2021-07-23 00:00:00
4,1496,84488,None,2,7438,17,64.36,90.09,90.09,2020-08-23 00:00:00
24,1529,111150,None,10,7604,22,10.18,15.28,14.52,2021-08-20 00:00:00
30,1535,112039,None,4,7557,53,28.55,39.99,37.13,2022-06-24 00:00:00
46,1565,47776,None,3,1472,5,38.4,54.93,52,2020-01-10 00:00:00
90,1618,110518,None,2,9442,12,473.07,615,579.52,2022-09-16 00:00:00
129,1668,107586,None,4,9297,None,16.87,25.31,25.31,2021-10-19 00:00:00
172,1733,53663,None,2,2519,14,489.42,611.78,598.53,2021-07-23 00:00:00
175,1738,53714,None,2,2465,21,30.28,36.34,34.22,2021-11-25 00:00:00
222,2163,2,None,76885,7237,94,84308,5,5,2022-03-30 00:00:00
303,1899,60787,None,2,5188,63,30.63,45.97,42.13,2021-11-25 00:00:00
311,1909,97488,None,12,8349,1,4.01,6.03,6.03,onbekend
359,1973,99734,None,4,8440,13,431.42,582.41,546.44,2020-09-27 00:00:00
361,1974,99739,None,2,9250,15,554.59,831.88,626.94,2020-10-16 00:00:00
367,1981,99810,None,54,9251,None,32.02,51.24,51.24,2020-10-06 00:00:00
403,2034,101561,None,24,8527,73,9.13,12.78,12.78,2020-09-22 00:00:00
405,2037,102578,None,4,8553,77,45.31,90.63,83.84,2021-04-03 00:00:00
414,2055,104117,None,onbekend,8774,34,28.94,46.31,98,2021-06-24 00:00:00
445,2104,73468,None,2,6579,15,554.59,831.88,831.88,2020-02-09 00:00:00
459,2141,76273,None,onbekend,5858,30,6.78,13.57,13.57,2021-06-07 00:00:00
463,2183,74209,None,4,5649,63,32.59,48.88,48.88,2020-09-17 00:00:00
468,2143,73973,None,4,6299,32,18.25,27.37,27.37,2020-10-20 00:00:00
522,2240,49363,None,34,1545,110,60.63,121.29,121.29,2021-12-11 00:00:00
532,2254,108408,None,1-1-2022 00:00:39,9314,109,35.15,63.27,63.27,2021-11-07 00:00:00
565,2328,75053,None,2,6209,96,16.1,22.54,22.54,2020-07-25 00:00:00
576,2352,113188,None,8,7834,94,2,5,4.55,2022-07-11 00:00:00

In [66]:
returned_producten['RETURN_REASON_CODE'] = returned_producten['RETURN_REASON_CODE'].fillna('onbekend')
returned_producten['RETURN_REASON_CODE'].isna().sum()

0

In [67]:
returned_producten['PRODUCT_NUMBER'] = returned_producten['PRODUCT_NUMBER'].fillna('onbekend')
returned_producten['PRODUCT_NUMBER'].isna().sum()

0

In [68]:
product_ster.dtypes

PRODUCT_NUMBER       object
PRODUCT_TYPE_CODE    object
PRODUCT_NAME         object
PRODUCT_TYPE_EN      object
dtype: object

In [72]:
product_ster_numeric_columns = ['PRODUCT_NUMBER', 'PRODUCT_TYPE_CODE']
product_ster_non_numeric_columns = list(product_ster.drop(product_ster_numeric_columns, axis = 1).columns)
product_ster_non_numeric_columns

['PRODUCT_NAME', 'PRODUCT_TYPE_EN']

In [73]:
wrong_index_dict = dict()

for index in product_ster.index:
    wrong_index_dict[index] = []

wrong_index_dict

{0: [],
 1: [],
 2: [],
 3: [],
 4: [],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: [],
 11: [],
 12: [],
 13: [],
 14: [],
 15: [],
 16: [],
 17: [],
 18: [],
 19: [],
 20: [],
 21: [],
 22: [],
 23: [],
 24: [],
 25: [],
 26: [],
 27: [],
 28: [],
 29: [],
 30: [],
 31: [],
 32: [],
 33: [],
 34: [],
 35: [],
 36: [],
 37: [],
 38: [],
 39: [],
 40: [],
 41: [],
 42: [],
 43: [],
 44: [],
 45: [],
 46: [],
 47: [],
 48: [],
 49: [],
 50: [],
 51: [],
 52: [],
 53: [],
 54: [],
 55: [],
 56: [],
 57: [],
 58: [],
 59: [],
 60: [],
 61: [],
 62: [],
 63: [],
 64: [],
 65: [],
 66: [],
 67: [],
 68: [],
 69: [],
 70: [],
 71: [],
 72: [],
 73: [],
 74: [],
 75: [],
 76: [],
 77: [],
 78: [],
 79: [],
 80: [],
 81: [],
 82: [],
 83: [],
 84: [],
 85: [],
 86: [],
 87: [],
 88: [],
 89: [],
 90: [],
 91: [],
 92: [],
 93: [],
 94: [],
 95: [],
 96: [],
 97: [],
 98: [],
 99: [],
 100: [],
 101: [],
 102: [],
 103: [],
 104: [],
 105: [],
 106: [],
 107: [],
 108: []}

In [75]:
for product_ster_numeric_columns in product_ster_numeric_columns:
    #Stringwaarden vinden in numerieke kolommen:
    wrong_rows = product_ster.loc[pd.to_numeric(product_ster[product_ster_numeric_columns], errors = 'coerce').isnull(), [product_ster_numeric_columns]]
    
    for index, row in wrong_rows.iterrows():
        wrong_index_dict[index].append(product_ster_numeric_columns)
    
for product_ster_non_numeric_columns in product_ster_non_numeric_columns:
    #Numerieke waarden vinden in stringkolommen
    wrong_rows = product_ster.loc[~pd.to_numeric(product_ster[product_ster_non_numeric_columns], errors = 'coerce').isnull(), [product_ster_non_numeric_columns]]
    
    for index, row in wrong_rows.iterrows():
        wrong_index_dict[index].append(product_ster_non_numeric_columns)
    
wrong_index_dict

{0: [],
 1: [],
 2: [],
 3: [],
 4: [],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: [],
 11: [],
 12: [],
 13: [],
 14: [],
 15: [],
 16: [],
 17: [],
 18: [],
 19: [],
 20: [],
 21: [],
 22: [],
 23: [],
 24: [],
 25: [],
 26: [],
 27: [],
 28: [],
 29: [],
 30: [],
 31: [],
 32: [],
 33: [],
 34: [],
 35: [],
 36: [],
 37: [],
 38: [],
 39: [],
 40: [],
 41: [],
 42: [],
 43: [],
 44: [],
 45: [],
 46: [],
 47: [],
 48: [],
 49: [],
 50: [],
 51: [],
 52: [],
 53: [],
 54: [],
 55: [],
 56: [],
 57: [],
 58: [],
 59: [],
 60: ['PRODUCT_NAME'],
 61: [],
 62: [],
 63: [],
 64: [],
 65: [],
 66: [],
 67: [],
 68: [],
 69: [],
 70: [],
 71: [],
 72: [],
 73: [],
 74: [],
 75: [],
 76: [],
 77: [],
 78: [],
 79: [],
 80: [],
 81: [],
 82: [],
 83: [],
 84: [],
 85: [],
 86: [],
 87: ['PRODUCT_NAME'],
 88: [],
 89: [],
 90: [],
 91: [],
 92: [],
 93: [],
 94: [],
 95: [],
 96: [],
 97: [],
 98: [],
 99: [],
 100: [],
 101: [],
 102: [],
 103: [],
 104: [],
 105: [],
 106: [],
 107: [],
 108: []}

In [76]:
for key_value_pair in list(wrong_index_dict.items()):
    
    if(key_value_pair[1]): #Als er minstens 1 item gevuld is op de index...
        index = key_value_pair[0]
        kolom1 = key_value_pair[1][0]
        kolom2 = key_value_pair[1][1]
        
        product_ster.loc[product_ster.index == index, [kolom1, kolom2]] = product_ster.loc[product.index == index, [kolom2, kolom1]].values

product_ster

IndexError: list index out of range

In [58]:
returned_producten.to_excel(r'C:\Users\Tim\Desktop\Python\returned_item.xlsx', sheet_name='returned_producten', index = False)
reden.to_excel(r'C:\Users\Tim\Desktop\Python\reden.xlsx', sheet_name='reden', index = False)
verkoper.to_excel(r'C:\Users\Tim\Desktop\Python\verkoper.xlsx', sheet_name='verkoper', index = False)
datum.to_excel(r'C:\Users\Tim\Desktop\Python\datum.xlsx', sheet_name='datum', index = False)
product_ster.to_excel(r'C:\Users\Tim\Desktop\Python\product.xlsx', sheet_name='product_ster', index = False)