In [1]:
import pandas as pd
import pyodbc

In [2]:
sales_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Tim/Desktop/GO-databases DEDS-week 4 & 5/go_sales.accdb;')
staff_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Tim/Desktop/GO-databases DEDS-week 4 & 5/go_staff.accdb;')
crm_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Tim/Desktop/GO-databases DEDS-week 4 & 5/go_crm.accdb;')

In [3]:
product = pd.read_sql("SELECT * FROM product", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
types = pd.read_sql("SELECT * FROM product_type", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
orders = pd.read_sql("SELECT * FROM order_header", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
joined = pd.merge(product, types, on = 'PRODUCT_TYPE_CODE', how = 'inner')

In [7]:
product_ster = joined.drop(['LANGUAGE','PRODUCT_IMAGE','INTRODUCTION_DATE','PRODUCTION_COST','MARGIN','DESCRIPTION','PRODUCT_LINE_CODE'], axis = 1)

In [8]:
verkoper = orders.drop(['RETAILER_CONTACT_CODE', 'SALES_STAFF_CODE', 'SALES_BRANCH_CODE', 'ORDER_DATE', 'ORDER_METHOD_CODE'], axis = 1)

In [9]:
reden = pd.read_sql("SELECT * FROM return_reason", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
datum = orders.drop(['ORDER_NUMBER', 'RETAILER_NAME', 'RETAILER_SITE_CODE', 'RETAILER_CONTACT_CODE', 'SALES_STAFF_CODE', 'SALES_BRANCH_CODE', 'ORDER_METHOD_CODE'], axis = 1)

In [11]:
datum["YEAR"] = datum["ORDER_DATE"].dt.year
datum["MONTH"] = datum["ORDER_DATE"].dt.month
datum["DAY"] = datum["ORDER_DATE"].dt.day

In [12]:
order_details = pd.read_sql("SELECT * FROM order_details", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [13]:
returned_item = pd.read_sql("SELECT * FROM returned_item", sales_conn)

C:\Users\Tim\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
feit = pd.merge(returned_item, order_details, on = 'ORDER_DETAIL_CODE', how = 'inner')

In [15]:
returned_producten = feit.drop(['RETURN_DATE', 'QUANTITY'], axis = 1)
returned_producten

,RETURN_CODE,ORDER_DETAIL_CODE,RETURN_REASON_CODE,RETURN_QUANTITY,ORDER_NUMBER,PRODUCT_NUMBER,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE
0,1491,84858,None,8,7446,6,87.63,123.56,123.56
1,1492,84440,2,2,7316,8,151.77,151.77,88.23
2,1493,84867,4,24-6-2021 09:23:14,7359,8,78.26,134.63,134.63
3,21-7-2021 00:00:09,84873,3,20,7448,8,None,134.63,126.16
4,1496,84488,None,2,7438,17,64.36,90.09,90.09
...,...,...,...,...,...,...,...,...,...
666,2464,114967,1,12,7623,63,30.63,45.97,38.31
667,2465,114972,3,6-6-2021 09:22:12,7625,66,69.68,92.91,46.45
668,2466,114983,5,66,7622,71,60.5,90.76,75.63
669,2467,115215,4,64,7630,73,8.56,11.98,10.27
670,2469,114848,3,82,7617,112,7.09,10.64,8.85