# Hoorcollege 1

## Notebook-besturing

Notebooks stellen je in staat om Pythonscripts te maken die opgebouwd zijn uit meerdere blokken, deze kunnen onafhankelijk van elkaar uitgevoerd worden. Een aantal voordelen hiervan...
- Je kunt makkelijk de waarden van variabelen inzien, zonder lang bezig te zijn met printcommands, breakpoints, enzovoort.
- Je kunt de uitvoer van bepaalde scriptstukken inzien zonder het hele script uit te hoeven voeren.
- Je kunt Notebooks downloaden als .py-bestand. Jupyter maakt dan van vele kleine blokken 1 grote. Vervolgens kan je dit bestand in zijn totaliteit uitvoeren met Spyder (staat automatisch op je apparaat als je Anaconda hebt ge√Ønstalleerd).

Je zult waarschijnlijk het vaakst gebruikmaken van de volgende bovenstaande iconen...
- De floppy: je notebook opslaan (shortcut: ctrl + s).
- Het plusje: een nieuw blok laten verschijnen.
- Het schaartje: een blok verwijderen. Let op: dit kan niet ongedaan gemaakt worden!
- De pijltjes naar boven en beneden: een blok naar boven/beneden verplaatsen.
- De dubbele pijlen naar rechts: alle bouwblokken achter elkaar uitvoeren (van boven naar beneden).
- De dropdown: hier kies je het vaakst uit:
    - Code: om Pythoncode te schrijven en uit te voeren met ctrl + enter.
    - Markdown: voor comments. Door een bepaald aantal #'s te schrijven, gevolgd door een spatie, kan je titels, kopjes, subkopjes, enzovoort geven. Druk ook hier op ctrl + enter om ze er mooi uit te laten zien

Aandachtspunt: als je een codeblok hebt waarin je een variabele aanmaakt blijft deze in het Notebookgeheugen bestaan, totdat je op de dubbele pijltjes naar rechts klikt (of op een andere manier een interrupt wordt uitgevoerd)

## Libraries importeren

In [1]:
import pandas as pd
import pyodbc

2 libraries:
- Pandas wordt gebruikt om data van externe bestanden in te lezen. In dit geval 3 .accdb-bestanden en 2 CSV-bestanden, maar Excel, .txt, output van API-calls, enzovoort kunnen hier ook in afgevangen worden.
- Pyodbc is een specifieke library voor het vinden van op de computer opgeslagen databases (in dit geval in Access).

## DB-connecties maken

In [2]:
sales_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/jelle/OneDrive - De Haagse Hogeschool/GO gemoderniseerd/go_sales_schoon.accdb;')
staff_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/jelle/OneDrive - De Haagse Hogeschool/GO gemoderniseerd/go_staff_schoon.accdb;')
crm_conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/jelle/OneDrive - De Haagse Hogeschool/GO gemoderniseerd/go_crm_schoon.accdb;')

Per database wordt hier een conn-variabele aangemaakt. Met behulp van een bestandspad, started met "C:/" en eindigend met ".accdb" wordt naar de 3 databases genavigeerd. Dit bestandspad moet je dus aanpassen, de rest van de string moet je laten staan.

## Dataframe aanmaken vanuit SELECT op databasetabel

In [3]:
product = pd.read_sql("SELECT * FROM product", sales_conn)
product

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,.28,P53ME2CA8.jpg,EN,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,.33,P54ME2CA8.jpg,EN,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4,.5,P55ME2CA8.jpg,EN,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9,.5,P56ME2CA8.jpg,EN,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40,.5,P57ME2TL9.jpg,EN,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,.43,P106GE5WD19.jpg,EN,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,109,10-12-2019,20,35,.43,P109GE5PT20.jpg,EN,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,10-12-2019,20,60,.5,P110GE5PT20.jpg,EN,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.8,.55,P111GE5PT20.jpg,EN,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,112,10-1-2020,21,6,.33,P112GE5GA21.jpg,EN,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

Je weet als het goed is als dat je met het SQL-statement "SELECT * FROM < tabel >" alle data ontvangt van een bepaalde databasetabel. De bovenstaande code voert dit statement uit op de tabel "product" met behulp van Python Pandas. Hieruit ontstaat een zogeheten dataframe met de zeer treffende variabelenaam 'product'. Met deze tabel/dit frame wordt verder gewerkt in de onderstaande codevoorbeelden.

<b>Twee belangrijke aandachtspunten voor onderstaande codevoorbeelden:</b>
- De enige SQL-queries die je bij de practicumopdrachten mag sturen zijn "SELECT * FROM < tabel >, er mag niks achter staan. Python staat namelijk centraal, SQL niet. Je mag SQL wel gebruiken om jezelf te controleren.
- Het zal misschien opvallen dat print() veelal achterwege gelaten wordt om output van codeblokken te laten zien, slechts de variabelenaam wordt opgeschreven. In Jupyter Notebook werkt dit, maar als je in het uiteindelijke .py-bestand √≥√≥k de uitvoer op het scherm wil tonen (met behulp van de IDE Spyder) moet je er goed aan denken tijdig de juiste print()-statements in te voeren.

## Kolommen selecteren

In [4]:
product.loc[:, ['PRODUCT_NAME', 'DESCRIPTION']]

,PRODUCT_NAME,DESCRIPTION
0,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...
110,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,Course Pro Putter,High quality putter is cast from a soft yello...
112,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

Dit is het Pythonequivalent van de SQL-query: "SELECT PRODUCT_NAME, DESCRIPTION FROM product"
Het .loc[]-attribuut heeft 2 parameters.
- De eerste specificeert de rijen die je wilt zien. Voor nu staat hier een dubbele punt, ten teken dat we alle rijen willen zien uit de tabel "product". In de codevoorbeelden verderop kijken we naar alternatieve invullingen.
- De tweede specificeert de kolommen die je wilt zien. Ook hier kan : staan, ten teken dat we alle kolommen willen zien, maar we specificeren dat we alleen ge√Ønteresseerd zijn in "PRODUCT_NAME" & "DESCRIPTION". Dit doen we door deze kolomnamen tussen een extra set blokhaken te zetten.

## Datatypen van kolommen controleren (en eventueel wijzigen)

In [5]:
product.dtypes

PRODUCT_NUMBER       object
INTRODUCTION_DATE    object
PRODUCT_TYPE_CODE    object
PRODUCTION_COST      object
MARGIN               object
PRODUCT_IMAGE        object
LANGUAGE             object
PRODUCT_NAME         object
DESCRIPTION          object
dtype: object

Om te weten in hoeverre wiskundige operatoren (+, -, *, enzovoort) en vergelijkingsoperatoren (>, >=, <, <=, enzovoort) mogelijk zijn is het handig om per kolom het datatype op te vragen. Dat wordt gedaan met bovenstaande code. 'Object' is vergelijkbaar met CHAR/VARCHAR in SQL.

In [6]:
product['PRODUCTION_COST'] = product['PRODUCTION_COST'].astype(float)
product['MARGIN'] = product['MARGIN'].astype(float)

Met de kolommen "PRODUCTION_COST" & "MARGIN" willen we wiskundige berekeningen uitvoeren, daarom converteren we deze van 'object' naar 'float' (decimaal getal).

In [7]:
product.dtypes

PRODUCT_NUMBER        object
INTRODUCTION_DATE     object
PRODUCT_TYPE_CODE     object
PRODUCTION_COST      float64
MARGIN               float64
PRODUCT_IMAGE         object
LANGUAGE              object
PRODUCT_NAME          object
DESCRIPTION           object
dtype: object

Even controleren of de conversie is gelukt. Conclusie: ja :-) .

## DISTINCT

In [8]:
product.loc[:, ['LANGUAGE']].drop_duplicates('LANGUAGE')

  LANGUAGE
0       EN

Dit is het Pythonequivalent van de SQL-query: "SELECT DISTINCT LANGUAGE FROM product".
Kennelijk wordt er slechts 1 taal gebruikt om alle producten te omschrijven

In [9]:
product.loc[:, ['PRODUCT_NAME', 'LANGUAGE']].drop_duplicates(['PRODUCT_NAME', 'LANGUAGE'])

                       PRODUCT_NAME LANGUAGE
0             Firefly Climbing Lamp       EN
1                   Firefly Charger       EN
2      Firefly Rechargeable Battery       EN
3                 Granite Chalk Bag       EN
4                       Granite Ice       EN
..                              ...      ...
110  Lady Hailstorm Steel Woods Set       EN
111               Course Pro Putter       EN
112               Blue Steel Putter       EN
113           Blue Steel Max Putter       EN
114     Course Pro Golf and Tee Set       EN

[115 rows x 2 columns]

Dit is het Pythonequivalent van de SQL-query: "SELECT DISTINCT PRODUCT_NAME, LANGUAGE FROM product". Om deze goed uit te voeren moeten beide kolommen tussen blokhaken staan...
- In de tweede parameter van loc[]
- Als eerste parameter van drop_duplicates()

## Kolommen verwijderen

In [10]:
product.drop('LANGUAGE', axis = 1)

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,109,10-12-2019,20,35.00,0.43,P109GE5PT20.jpg,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

We ontdekten hierv√≥√≥r al dat de kolom 'LANGUAGE' eigenlijk overbodig is, aangezien hier continu 'EN' in staat. Voor analyse is dit dus niet heel relevant. We besluiten daarom om deze kolom te verwijderen met bovenstaande code. 'axis = 1' specificeert dat hij de gegeven te verwijderen string moet zoeken in de kolomnamen, en niet in de rijen van het betreffende dataframe.

In [11]:
product

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,EN,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,EN,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,EN,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,EN,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,EN,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,EN,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,109,10-12-2019,20,35.00,0.43,P109GE5PT20.jpg,EN,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,EN,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,EN,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,EN,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

Huh? Dit is gek! We hadden 'LANGUAGE' toch verwijderd? Hij staat er nu gewoon weer! Hoe kan dat?
Antwoord: in het codeblok waarin we '.drop(...)' voor het eerst toepasten hebben we slechts een tijdelijke view gecre√´erd op het dataframe. Dat wil zeggen dat als je dit frame opnieuw aanroept je de oorspronkelijke versie ervan krijgt (dus inclusief 'LANGUAGE', voordat we deze kolom weghaalden). Dat willen we niet. Oplossing: de gecre√´erde view toewijzen aan het oorspronkelijke DataFrame.

In [12]:
product = product.drop('LANGUAGE', axis = 1)
product

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,109,10-12-2019,20,35.00,0.43,P109GE5PT20.jpg,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

Nice! Met de "DataFrame = DataFrame"-notatie gaat het wel goed. Vanaf nu krijgen we het ge√ºpdate DataFrame als we "product" aanriepen.

## ORDER BY

In [13]:
product.sort_values('PRODUCTION_COST', ascending = False)

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
107,105,27-12-2019,19,555.90,0.55,P105GE5WD19.jpg,Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
108,106,5-12-2019,19,536.09,0.43,P106GE5WD19.jpg,Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
109,107,13-1-2020,19,509.07,0.55,P105GE5WD19.jpg,Lady Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
52,15,5-3-2013,2,490.00,0.33,P15CE1TN2.jpg,Star Gazer 6,Massive cabin tent has ample room for six peop...
51,14,5-3-2013,2,476.00,0.20,P14CE1TN2.jpg,Star Gazer 3,"The Star Gazer 3 features a water proof fly, m..."
...,...,...,...,...,...,...,...,...
101,99,15-2-2011,17,2.00,0.60,P99OP4FA17.jpg,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ..."
93,91,15-2-2011,16,2.00,0.60,P91OP4SS16.jpg,Sun Blocker,Sun Blocker is waterproof and lasts up to eigh...
94,92,15-2-2011,16,2.00,0.60,P91OP4SS16.jpg,Sun Shelter Stick,"Easy to apply to your nose, lips, ears and oth..."
90,88,15-2-2011,15,2.00,0.70,P86OP4IR15.jpg,BugShield Lotion Lite,"Repels black flies, ticks, mosquitoes, chigger..."
53,16,5-3-2013,2,1.00,0.50,P16CE1TN2.jpg,Star Peg,A single tent peg made of heavy-duty plated st...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product ORDER BY production_cost DESC". Let erop dat als je aflopend wilt sorteren, je 'ascending = False' schrijft in de tweede parameter van sort_values(). Als je oplopend wilt sorteren hoef je geen tweede parameter in te vullen.

In [14]:
product.sort_values(['PRODUCTION_COST', 'MARGIN'], ascending = [False, True])

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
107,105,27-12-2019,19,555.90,0.55,P105GE5WD19.jpg,Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
108,106,5-12-2019,19,536.09,0.43,P106GE5WD19.jpg,Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
109,107,13-1-2020,19,509.07,0.55,P105GE5WD19.jpg,Lady Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
52,15,5-3-2013,2,490.00,0.33,P15CE1TN2.jpg,Star Gazer 6,Massive cabin tent has ample room for six peop...
51,14,5-3-2013,2,476.00,0.20,P14CE1TN2.jpg,Star Gazer 3,"The Star Gazer 3 features a water proof fly, m..."
...,...,...,...,...,...,...,...,...
101,99,15-2-2011,17,2.00,0.60,P99OP4FA17.jpg,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ..."
33,86,15-2-2011,15,2.00,0.67,P86OP4IR15.jpg,BugShield Natural,"Contains no chemicals. Repels mosquitoes, blac..."
34,87,15-2-2011,15,2.00,0.67,P86OP4IR15.jpg,BugShield Spray,"Repels black flies, ticks, mosquitoes, chigger..."
90,88,15-2-2011,15,2.00,0.70,P86OP4IR15.jpg,BugShield Lotion Lite,"Repels black flies, ticks, mosquitoes, chigger..."
53,16,5-3-2013,2,1.00,0.50,P16CE1TN2.jpg,Star Peg,A single tent peg made of heavy-duty plated st...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product ORDER BY production_cost DESC, margin". Als je de ene kolom aflopend wilt laten sorteren en de andere oplopend: let dan goed op de booleans tussen blokhaken in de tweede parameter van sort_values(). Deze moeten matchen met de kolomnamen tussen blokhaken in de eerste parameter van sort_values (reminder: True is oplopend, False is aflopend).

## WHERE

### Exacte voorwaarden zonder NULL

In [15]:
product.loc[product['PRODUCTION_COST'] > 350, :]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
49,12,5-3-2013,2,473.07,0.23,P12CE1TN2.jpg,Star Dome,Four pole geodesic dome mountain tent that com...
50,13,15-2-2011,2,392.57,0.25,P13CE1TN2.jpg,Star Gazer 2,The Star Gazer 2 is the Great Outdoor's most v...
51,14,5-3-2013,2,476.00,0.20,P14CE1TN2.jpg,Star Gazer 3,"The Star Gazer 3 features a water proof fly, m..."
52,15,5-3-2013,2,490.00,0.33,P15CE1TN2.jpg,Star Gazer 6,Massive cabin tent has ample room for six peop...
82,45,10-1-2021,6,383.32,0.33,P44ME2RP6.jpg,Husky Rope 200,11 mm diameter standard rope. Length: 200 m. ...
104,102,10-12-2019,18,380.95,0.51,P102GE5IR18.jpg,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...
107,105,27-12-2019,19,555.90,0.55,P105GE5WD19.jpg,Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
108,106,5-12-2019,19,536.09,0.43,P106GE5WD19.jpg,Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
109,107,13-1-2020,19,509.07,0.55,P105GE5WD19.jpg,Lady Hailstorm Titanium Woods Set,Crafted of 6-4 titanium which is 40% lighter a...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE production_cost > 350". Eindelijk kunnen we de eerste parameter van .loc[] invullen. Dit doen we met een boolean...
- We herhalen de naam van het gecre√´erde dataframe ('product').
- Tussen blokhaken specificeren we de naam van de kolom waarop we willen filteren.
- We geven met een vergelijkingsoperator (>) en een getal (350) aan welke getallen we wel en niet willen zien.

In de tweede parameter van .loc[] staat :. Reminder: hiermee specificeren we dat we alle kolommen willen zien. We filteren in dit geval dus alleen op rijen (eerste parameter) en niet op kolommen (tweede parameter).

In [16]:
product.loc[product['PRODUCT_NUMBER'].isna(), :]
#Geeft alle kolommen (':') van alle producten waarvan het PRODUCT_NUMBER onbekend is (kennelijk is dat nooit het geval)

Empty DataFrame
Columns: [PRODUCT_NUMBER, INTRODUCTION_DATE, PRODUCT_TYPE_CODE, PRODUCTION_COST, MARGIN, PRODUCT_IMAGE, PRODUCT_NAME, DESCRIPTION]
Index: []

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE PRODUCT_NUMBER IS NULL". Om op NULL-waarden te checken cre√´ren we een boolean door na de blokhaken een functie aan te roepen (.isna()). Kennelijk is het PRODUCT_NUMBER altijd bekend. De tegenhanger van .isna() is trouwens .notna() (vergelijkbaar met "NOT NULL" in SQL).

### Niet-exacte voorwaarden met LIKE

In [17]:
product.loc[product['PRODUCT_NAME'].str[0] == 'B', :]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
23,76,15-2-2011,12,23.53,0.40,P76PA3KV12.jpg,Bear Edge,Knife is 33 cm long with a 20 cm blade made of...
24,77,26-10-2016,12,45.00,0.50,P77PA3KV12.jpg,Bear Survival Edge,Features a 23 cm razor edge blade tempered fro...
33,86,15-2-2011,15,2.00,0.67,P86OP4IR15.jpg,BugShield Natural,"Contains no chemicals. Repels mosquitoes, blac..."
34,87,15-2-2011,15,2.00,0.67,P86OP4IR15.jpg,BugShield Spray,"Repels black flies, ticks, mosquitoes, chigger..."
90,88,15-2-2011,15,2.00,0.70,P86OP4IR15.jpg,BugShield Lotion Lite,"Repels black flies, ticks, mosquitoes, chigger..."
91,89,15-2-2011,15,2.50,0.63,P86OP4IR15.jpg,BugShield Lotion,"Repels black flies, ticks, mosquitoes, chigger..."
92,90,15-2-2011,15,2.50,0.63,P86OP4IR15.jpg,BugShield Extreme,"Highest amount of the active ingredient, 38%, ..."
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE PRODUCT_NAME LIKE 'B%'". Ditmaal cre√´ren we de boolean in de eerste parameter van .loc[] met een speciaal attribuut (.str[]). In de blokhaken van str specificeren we met 0 dat alleen de eerste letter van elke waarde van PRODUCT_NAME gecontroleerd moet worden. Index = 0 is namelijk gelijk aan de eerste letter, met index = 1 pak je de tweede letter, enzovoort.

In [18]:
product.loc[product['PRODUCT_NAME'].str[-1] == 'n', :]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
13,66,5-3-2013,10,45.00,0.50,P66PA3WT10.jpg,Mountain Man Combination,"Combination watch, altimeter, compass and baro..."
15,68,15-2-2011,11,46.15,0.23,P68PA3EW11.jpg,Polar Sun,The Polar Sun sunglasses have 3 mm thick lense...
39,2,15-2-2011,1,9.22,0.23,P02CE1CG1.jpg,TrailChef Canteen,Aluminum canteen. Rugged fleece-lined cover wi...
78,41,10-1-2021,5,24.62,0.23,P41CE1LT5.jpg,Flicker Lantern,"Simple to use, just requires a candle to be in..."
91,89,15-2-2011,15,2.50,0.63,P86OP4IR15.jpg,BugShield Lotion,"Repels black flies, ticks, mosquitoes, chigger..."

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE PRODUCT_NAME LIKE '%n'". We voeren nu in .str de index '-1' in. Dit is op het eerste gezicht misschien gek, maar Python staat 'reverse indexing' toe, ten teken dat je als index in reeksen (en waarden z√≠jn reeksen) ook mingetallen mag uitvoeren. Met index = -1 pak je de laatste letter, met index = -2 pak je de een-na-laatste letter, enzovoort.

In [19]:
product.loc[product['PRODUCT_NAME'].str.contains('e'), :]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,109,10-12-2019,20,35.00,0.43,P109GE5PT20.jpg,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE PRODUCT_NAME LIKE '%e%'". In plaats van de blokhaken na str in te vullen roepen we nu een functie aan (.contains). Hierin specificeren we een mogelijke invulling die overal in de betreffende rijwaarden voor mag komen (begin, eind, midden; het maakt niet uit).

### Voorwaarden met logische operatoren (AND & OR)

In [20]:
product.loc[(product['PRODUCT_NAME'].str[0] == 'B') | (product['PRODUCT_NAME'].str[-1] == 's'), :]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
17,70,5-3-2013,11,80.00,0.33,P70PA3EW11.jpg,Polar Sports,Six base classic nylon composite frame sunglas...
23,76,15-2-2011,12,23.53,0.40,P76PA3KV12.jpg,Bear Edge,Knife is 33 cm long with a 20 cm blade made of...
24,77,26-10-2016,12,45.00,0.50,P77PA3KV12.jpg,Bear Survival Edge,Features a 23 cm razor edge blade tempered fro...
33,86,15-2-2011,15,2.00,0.67,P86OP4IR15.jpg,BugShield Natural,"Contains no chemicals. Repels mosquitoes, blac..."
34,87,15-2-2011,15,2.00,0.67,P86OP4IR15.jpg,BugShield Spray,"Repels black flies, ticks, mosquitoes, chigger..."
37,115,27-12-2019,21,5.00,0.50,P115GE5GA21.jpg,Course Pro Gloves,Durable nylon constructed gloves with stitched...
47,10,15-2-2011,1,10.00,0.40,P10CE1CG1.jpg,TrailChef Utensils,"Spoon, fork and knife set made of a light yet ..."
84,47,10-1-2021,7,44.83,0.31,P47ME2SY7.jpg,Husky Harness,One size fits all due to extensive waist belt ...
90,88,15-2-2011,15,2.00,0.70,P86OP4IR15.jpg,BugShield Lotion Lite,"Repels black flies, ticks, mosquitoes, chigger..."
91,89,15-2-2011,15,2.50,0.63,P86OP4IR15.jpg,BugShield Lotion,"Repels black flies, ticks, mosquitoes, chigger..."
92,90,15-2-2011,15,2.50,0.63,P86OP4IR15.jpg,BugShield Extreme,"Highest amount of the active ingredient, 38%, ..."
103,101,15-12-2019,18,305.54,0.43,P101GE5IR18.jpg,Hailstorm Steel Irons,Iron is 17-4 stainless steel. Shafts are grap...
104,102,10-12-2019,18,380.95,0.51,P102GE5IR18.jpg,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...
105,103,10-12-2019,18,277.76,0.43,P101GE5IR18.jpg,Lady Hailstorm Steel Irons,Iron is 17-4 stainless steel. Shafts are grap...
106,104,18-12-2019,18,333.32,0.51,P102GE5IR18.jpg,Lady Hailstorm Titanium Irons,Made entirely of pure titanium. A wider sole a...
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE PRODUCT_NAME LIKE 'B%' OR PRODUCT_NAME LIKE '%n%'". In de eerste parameter van .loc[] cre√´ren we 2 booleans, elk van hen wordt gescheiden door ronde haakjes en een logische operator. 2 keuzes:
- & voor 'AND' (alle booleans moeten waar zijn, wil de rij in de selectie opgenomen worden).
- | voor 'OR' (slechts 1 boolean hoeft waar te zijn, wil de rij in de selectie opgenomen worden).

## COUNT(), SUM(), AVG(), MIN(), MAX() & ROUND()

In [21]:
product.shape[0]

115

Dit is het Pythonequivalent van de SQL-query: "SELECT COUNT(*) FROM product". In 'shape' wordt op index 0 het aantal rijen opgeslagen en op index 1 het aantal kolommen.

In [22]:
product['PRODUCTION_COST'].sum()

10321.779999999999

Dit is het Pythonequivalent van de SQL-query: "SELECT SUM(PRODUCTION_COST) FROM product".

In [23]:
round(product['PRODUCTION_COST'].mean(), 2)

89.75

Dit is het Pythonequivalent van de SQL-query: "SELECT ROUND(AVG(PRODUCTION_COST), 2) FROM product".

In [24]:
product['PRODUCTION_COST'].min()

1.0

Dit is het Pythonequivalent van de SQL-query: "SELECT MIN(PRODUCTION_COST) FROM product".

In [25]:
product['PRODUCTION_COST'].max()

555.9

Dit is het Pythonequivalent van de SQL-query: "SELECT MAX(PRODUCTION_COST) FROM product".

## GROUP BY

In [26]:
grouped = product.groupby('PRODUCT_TYPE_CODE')['PRODUCTION_COST'].mean().reset_index()
grouped = grouped.rename(columns = {'PRODUCTION_COST' : 'AVG_PRODUCTION_COST'})

grouped

   PRODUCT_TYPE_CODE  AVG_PRODUCTION_COST
0                  1            29.461000
1                 10            50.038000
2                 11            66.396000
3                 12            33.704000
4                 13            76.472500
5                 14            82.817500
6                 15             2.200000
7                 16             2.200000
8                 17             9.886000
9                 18           324.392500
10                19           518.320000
11                 2           347.106667
12                20            58.933333
13                21            24.250000
14                 3            68.435714
15                 4           124.425000
16                 5            20.403333
17                 6           211.937500
18                 7            42.297500
19                 8            18.982857
20                 9            36.723333

Dit is het Pythonequivalent van de SQL-query: "SELECT PRODUCT_TYPE_CODE, AVG(PRODUCTION_COST) FROM product GROUP BY PRODUCT_TYPE_CODE". De rename is nodig, omdat anders de kolomnaam "PRODUCTION_COST" letterlijk blijft staan. Voor de raadpleger van dit dataframe is het wel zo aardig om duidelijk te maken dat het om een gemiddelde gaat, dus maken we hier "AVG_PRODUCTION_COST" van. Merk op dat je hier eerst een dataframe 'grouped' aanmaakt en deze vervolgens overschrijft door de rename hieraan toe te voegen: met 'grouped = grouped' wijzig je dus het oorspronkelijke dataframe.

In [27]:
grouped.loc[grouped['AVG_PRODUCTION_COST'] < 100, :]

   PRODUCT_TYPE_CODE  AVG_PRODUCTION_COST
0                  1            29.461000
1                 10            50.038000
2                 11            66.396000
3                 12            33.704000
4                 13            76.472500
5                 14            82.817500
6                 15             2.200000
7                 16             2.200000
8                 17             9.886000
12                20            58.933333
13                21            24.250000
14                 3            68.435714
16                 5            20.403333
18                 7            42.297500
19                 8            18.982857
20                 9            36.723333

Dit is het Pythonequivalent van de SQL-query: "SELECT PRODUCT_TYPE_CODE, AVG(PRODUCTION_COST) FROM product GROUP BY PRODUCT_TYPE_CODE HAVING AVG(PRODUCTION_COST) < 100". We hadden de GROUP BY al toegepast, het dataframe 'grouped' is daar het resultaat van. De HAVING realiseren we door .loc[] op grouped toe te passen en de eerste parameter daarvan in te vullen met een boolean.

## JOIN

In [28]:
order_details = pd.read_sql("SELECT * FROM order_details", sales_conn)
order_details

,ORDER_DETAIL_CODE,ORDER_NUMBER,PRODUCT_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE
0,48616,1258,17,92,60.29,84.41,78.37
1,48617,1352,17,190,60.29,84.41,67.08
2,48618,1544,17,82,60.29,84.41,78.37
3,48619,1249,17,190,60.29,84.41,72.26
4,48620,1268,17,152,60.29,84.41,78.05
...,...,...,...,...,...,...,...
43058,102951,8614,11,16,250,350,325
43059,102952,8611,11,18,250,350,350
43060,102953,8591,11,18,250,350,325
43061,102954,8619,11,18,250,350,350
43062,102955,8650,11,14,250,350,350

Om de JOIN te demonstreren (zie hieronder) wordt van een tweede databasetabel (order_details) een dataframe gemaakt.

In [29]:
joined = pd.merge(product, order_details, on = 'PRODUCT_NUMBER', how = 'inner')
joined

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION,ORDER_DETAIL_CODE,ORDER_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,48912,1539,28,28.2,39.49,39.49
1,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,48913,1642,78,28.2,39.49,39.49
2,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,48914,1621,174,28.2,39.49,39.49
3,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,48915,1548,20,28.2,39.49,36.66
4,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,48916,1263,20,28.2,39.49,36.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...,102816,8643,38,6.01,9.01,9.01
43059,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...,102817,8578,40,6.01,9.01,9.01
43060,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...,102818,8644,38,6.01,9.01,8.56
43061,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...,102819,8570,40,6.01,9.01,9.01
43062,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...,102820,8581,42,6.01,9.01,9.01

Dit is het Pythonequivalent van de SQL-query: "SELECT od.order_detail_code, p.product_type_code FROM product p JOIN order_details od ON p.product_number = od.product_number". Als je meerdere joins wilt uitvoeren zul je je reeds gemaakt 'joined'-dataframe moeten overschrijven. Met how = 'inner' geef je ten slotte aan dat het om een INNER JOIN gaat, je kan hier ook 'left' (voor een LEFT JOIN), 'right' (voor een RIGHT JOIN) en 'outer' (voor een OUTER JOIN) schrijven.

## SUBSELECT (IN)

In [30]:
product.loc[product['PRODUCTION_COST'] == product['PRODUCTION_COST'].min(), :]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
53,16,5-3-2013,2,1.0,0.5,P16CE1TN2.jpg,Star Peg,A single tent peg made of heavy-duty plated st...

Dit is het Pythonequivalent van de SQL-query: "SELECT * FROM product WHERE production_cost = (SELECT MIN(production_cost) FROM product). Je ziet dat je subselects makkelijk kan uitvoeren door de eerderbesproken Pythonfuncties in te voegen in de boolean op de eerste parameter van .loc[].

## UNION TODO

In [31]:
product1 = product.iloc[:80]
product2 = product.iloc[80:]
product1

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...
75,38,5-3-2013,5,20.00,0.33,P38CE1LT5.jpg,EverGlow Kerosene,One of the most dependable sources of light in...
76,39,5-3-2013,5,40.63,0.37,P39CE1LT5.jpg,EverGlow Butane,Adjustable brightness control with auto igniti...
77,40,15-2-2011,5,17.97,0.28,P40CE1LT5.jpg,EverGlow Lamp,"Perfect for in your tent, this lamp comes with..."
78,41,10-1-2021,5,24.62,0.23,P41CE1LT5.jpg,Flicker Lantern,"Simple to use, just requires a candle to be in..."
79,42,10-1-2021,6,106.66,0.33,P42ME2RP6.jpg,Husky Rope 50,11 mm diameter standard rope. Length: 50 m. W...

Om te demonstreren hoe je een SQL UNION simuleert in Python wordt in de bovenstaande coderegel het DataFrame "Product" horizontaal opgesplitst. Deze willen we uiteindelijk dus weer verticaal samenvoegen, zodat we weer slechts √©√©n producttabel hebben

In [32]:
product = product1.append(product2)
product

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,Granite Ice,A general purpose mountaineering axe for snow ...
...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...
111,109,10-12-2019,20,35.00,0.43,P109GE5PT20.jpg,Course Pro Putter,High quality putter is cast from a soft yello...
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...
114,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...

De UNION is nu uitgevoerd

## IIF & CASE

In [33]:
for index, row in product.iterrows():
    production_cost = product.at[index, 'PRODUCTION_COST']
    
    if(production_cost < 100):
        product.at[index, 'MARGIN_RANKING'] = 'cheap'
    elif(production_cost < 200):
        product.at[index, 'MARGIN_RANKING'] = 'a bit expensive'
    else:
        product.at[index, 'MARGIN_RANKING'] = 'very expensive'

product

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,PRODUCT_NAME,DESCRIPTION,MARGIN_RANKING
0,53,10-1-2021,8,28.55,0.28,P53ME2CA8.jpg,Firefly Climbing Lamp,This climbing lamp is water-resistant. It come...,cheap
1,54,10-1-2021,8,35.33,0.33,P54ME2CA8.jpg,Firefly Charger,Power charger for the Firefly Climbing Lamp. T...,cheap
2,55,10-1-2021,8,4.00,0.50,P55ME2CA8.jpg,Firefly Rechargeable Battery,Rechargeable battery pack for the Firefly Clim...,cheap
3,56,10-1-2021,8,9.00,0.50,P56ME2CA8.jpg,Granite Chalk Bag,Nylon web bag perfect for holding several stic...,cheap
4,57,10-1-2021,9,40.00,0.50,P57ME2TL9.jpg,Granite Ice,A general purpose mountaineering axe for snow ...,cheap
...,...,...,...,...,...,...,...,...,...
110,108,27-12-2019,19,472.22,0.43,P106GE5WD19.jpg,Lady Hailstorm Steel Woods Set,These steel woods are manufactured to exact to...,very expensive
111,109,10-12-2019,20,35.00,0.43,P109GE5PT20.jpg,Course Pro Putter,High quality putter is cast from a soft yello...,cheap
112,110,10-12-2019,20,60.00,0.50,P110GE5PT20.jpg,Blue Steel Putter,This premium putter has copper mixed with ligh...,cheap
113,111,15-12-2019,20,81.80,0.55,P111GE5PT20.jpg,Blue Steel Max Putter,Putter head is composed from a single piece of...,cheap
114,112,10-1-2020,21,6.00,0.33,P112GE5GA21.jpg,Course Pro Golf and Tee Set,Set includes two premium golf ball and an asso...,cheap

De code-loop hierboven loopt elke rij langs van het DataFrame "Product". Bij elke rij die langsgelopen wordt krijgt de variabele "index" de indexwaarde (zie de dikgedrukte getallen in de eerste kolom). Met behulp van .at[] kan je op deze index en een gespecificeerde kolom een bepaalde waarde ophalen en deze ook (conditioneel) wijzigen. Het mooie hiervan? Als de gespecificeerde kolom niet bestaat (wat in dit geval zo is bij 'MARGIN_RANKING') maakt Python die kolom zelf aan, als laatste kolom in het DataFrame.